.txt-field {
  padding: 8px 16px;
  border: 1px solid #00000033;
  border-radius: 2px;
  background: #fff;
}

.custom-field {
  display: flex;
  flex-direction: column;
}

.custom-button {
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  color: #ffffff;
  background: var(--color-background-dark);
}
